.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 1rem;
  }
  
  .dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    padding-top: 4rem;
    height: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  }
  
  .card-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .card-recommend {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    color: #007aff;
  }
  .icon-cont {
    background-color: gray;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-card * + * {
    margin-top: 2rem;
  }
  @media screen and (max-width: 992px) {
    .dashboard-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      gap: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    .dashboard-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 1rem;
    }
  }
  